<div class="container mt-3" *ngIf="examDetails">
	<hr>
	<div class="row align-items-center">
		<div class="col-1 fs-5">
			<span class="icon-back" style="cursor: pointer;" (click)="goBack()"><i class="bi bi-arrow-left"></i> </span>
		</div>
		<div class="col-10 d-flex justify-content-center align-items-center fw-bold fs-5">
			<div class="d-flex flex-column justify-content-center align-items-center">
				<span>ESAME DI {{examDetails.subject | uppercase}} / CLASSE {{examDetails.classroom | uppercase}}</span>
				<small>{{examDetails.examDate | date: 'dd/MM/yyyy'}}</small>
			</div>
			<span class="icon-data px-3">
				<i class="bi bi-calendar3"></i>
			</span>
		</div>

	</div>
	<hr>
</div>
<div class="container mt-4" *ngIf="examDetails">
	<table class="table table-hover">
		<thead class="text-center">
			<tr>
				<th class="col">#</th>
				<th class="col" id="name">Nome
					<!-- <i *ngIf="this.orders.date === 'asc'" class="bi bi-caret-up-fill"
						(click)="getExams('asc', 'desc', 'date')"></i>
					<i *ngIf="this.orders.date === 'desc'" class="bi bi-caret-down-fill"
						(click)="getExams('asc', 'asc', 'date')"></i> -->
				</th>
				<th class="col" id="surname">Cognome
					<!-- <i *ngIf="this.orders.matter === 'asc'" class="bi bi-caret-up-fill"
						(click)="getExams('Matter', 'desc', 'matter')"></i>
					<i *ngIf="this.orders.matter === 'desc'" class="bi bi-caret-down-fill"
						(click)="getExams('Matter', 'asc', 'matter')"></i> -->
				</th>
				<th class="col" id="grade">Voto
					<!-- <i *ngIf="this.orders.grade === 'asc'" class="bi bi-caret-up-fill"
							(click)="getExams('Grade', 'desc', 'grade')"></i>
					<i *ngIf="this.orders.grade === 'desc'" class="bi bi-caret-down-fill"
							(click)="getExams('Grade', 'asc', 'grade')"></i> -->
				</th>
				<th *ngIf="today > examDetails.examDate" class="col-2">Assegna voto</th>
			</tr>
		</thead>
		<tbody *ngFor="let student of examDetails.studentExams, let i = index" class="text-center align-middle">
			<tr>
				<th scope="row">{{i + 1}}</th>
				<td>{{student.student.name}}</td>
				<td>{{student.student.surname}}</td>
				<td class="p-3 h-100">{{student.grade ? student.grade : "-"}}</td>
				<td *ngIf="today > examDetails.examDate">
					<div class="d-flex justify-content-around p-1">
						<input class="w-50 border-0 bg-light text-center text-opacity-50 text-warning-emphasis" type="number"
							min="2" max="10" data-bs-toggle="dropdown" [formControl]="grade" aria-expanded="false">
						<button (click)="editExamDetails(student.student.id)" class="btn btn-warning">
							<i class="bi bi-check2"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>