<div class="container-fluid p-0">
  
  <!-- navbar component -->
  <app-navbar style="height: 20vh;" *ngIf="!(router.url === '/login')" (toggleSidebar)="handleSidebarToggle()"> </app-navbar>

  <div [ngClass]="{'position-static' : router.url === '/login'}" class="side-content-wrapper d-flex flex-row">
    <!-- sidebar component -->
    <app-sidebar *ngIf="!(router.url === '/login')" class="sidebar" [isExpanded]="sidebarExpanded"></app-sidebar>
    <div class="sidebar-content w-100" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>