hr{
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
.icon {
  border: 2px solid;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb900;
  margin-left: 20px;
}
.icon-back {
  border: 2px solid;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb900;
  margin-left: 20px;
}
.bi-person-vcard{
  font-size: 30px;
    color: #ffb900;
}
.bi-arrow-left{
  font-size: 25px;
    color: #ffb900;
}
.input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-container input {
    margin-left: 10px;
    width: 12.5rem;
    padding: 0.4375rem 0.875rem;
    padding-right: 30px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.1875rem;
  }
  
  .input-container i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .bi-search {
    color: unset;
  }
  
  thead,
  tbody {
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  .btn-drop {
    padding: 0.4375rem 0.875rem;
    color: black;
  
  }
  
  td{
    text-align: center;
    vertical-align: middle;
    height: 4rem!important;
  }
  
  table {
    border-bottom: 1px solid #ddd;
    
  }
  
  .table-students-1{
    
      max-height: 500px; 
      overflow-y: auto;  
  
  }

    .table-students-2 {
  
      max-height: 500px;
      overflow-y: auto;
  
    }

  .table-teachers-1{
    max-height: 300px; 
    overflow-y: auto;  
}

.table-teachers-2 {
  max-height: 300px;
  overflow-y: auto;
}
 
  .page-item a:hover{
    background-color: #ffb900;
  }
  .btn-delete {
    font-weight: 600;
    border: 2px solid;
    border-color: #ffb900;

  }
  .btn-delete:hover{
    background-color: #ffc422;
  }
  h3{
    font-size: 22px;
  }
  .dropdown-toggle{
    background-color: #ffc422;
    color: black;
    border: 2px solid;
    border-color: #ffb900;

  }
  .dropdown-item:hover{
    background-color: #ffc422;

  }
  .bi-book-fill{
    margin-right: 10px;
  }

  .bi-eye-fill{
    margin-right: 10px;
  }

    .bi-award-fill {
      margin-right: 10px;
    }

  .bi-gear-fill{
    margin-right: 10px; 
  }  ::-webkit-scrollbar {
    width: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #b6b6b6; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #9b9a9a; 
  }



  .modal-dialog {
    width: 400px;
  }