<div style="cursor: default;" *ngIf="classDetails" class="container vh-100">
  <hr />
  <div class="row align-items-center">
    <div *ngIf="isTeacher" class=" col-md-1 fs-5 fw-bold">
      <span class="icon-back" style="cursor: pointer;" (click)="navigateToTeachersClasses()"><i
          class="bi bi-arrow-left"></i> </span>
    </div>
    <div *ngIf="!isTeacher" class="col-md-12 d-flex align-items-center justify-content-center fs-5 fw-bold">
      CLASSE {{ classDetails && classDetails.name_classroom}}
      <span class="icon"><i class="bi bi-person-vcard"></i> </span>
    </div>
    <div *ngIf="isTeacher" class="col-md-10 d-flex align-items-center justify-content-center fs-5 fw-bold">
      CLASSE {{ classDetails && classDetails.name_classroom}}
      <span class="icon"><i class="bi bi-person-vcard"></i> </span>
    </div>
  </div>
  <hr class="mb-4" />

  <!-- <div class="button m-3 d-flex w-100 justify-content-end pe-5">
        <a class="btn btn-warning" *ngIf="isTeacher" [routerLink]="['/history-promotion/' + this.classId]"><i class="bi bi-card-list px-2"></i>STORICO PROMOZIONI</a>
  </div> -->
  
    
      <div class="button m-3 d-flex w-100 justify-content-end pe-5"  *ngIf="isTeacher && currentDate >= promotionStartDate && currentDate <= promotionEndDate">
        <select class="btn btn-warning" [(ngModel)]="this.currentYear" (change)="isCurrentYear()">
          <option [ngValue]="true">2023-2024</option>
          <option [ngValue]="false">2024-2025</option>
         </select>
      </div>

    <div  class="row justify-content-center">    
      <div [ngClass]="{'col-md-5 table-teachers-1': isTeacher, 'col-md-6 table-teachers-2': !isTeacher}">
        <table class="table table-teachers table-hover mb-5">
          <thead class="text-center">
            <tr>
              <th scope="col-1">#</th>
              <th scope="col-2">Docente</th>
              <th scope="col-3">Materie</th>
            </tr>
          </thead>
          <tbody *ngFor="let teacher of classDetails?.teachers, let i = index">
            <tr style="cursor: pointer">
              <td scope="row">{{i + 1}}</td>
              <td *ngIf="isTeacher" [routerLink]="['/details', teacher.id]">{{ teacher.surname + ' ' + teacher.name }}</td>
              <td *ngIf="!isTeacher">{{ teacher.surname + ' ' + teacher.name }}</td>
               <td>{{ teacher.subjects.join(', ') }}</td>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>


  <div [ngClass]="{'col-md-7 table-students-1': isTeacher, 'col-md-6 table-students-2': !isTeacher}">
    <table class="table table-students table-hover w-100">
      <thead class="text-center">
        <tr>
          <th>#</th>
          <th *ngIf="isTeacher && currentDate >= promotionStartDate && currentDate <= promotionEndDate">Studente</th>
          <th *ngIf="isTeacher && (currentDate < promotionStartDate || currentDate > promotionEndDate)">Cognome</th>
          <th *ngIf="isTeacher && (currentDate < promotionStartDate || currentDate > promotionEndDate)">Nome</th>
          <th *ngIf="!isTeacher">Cognome</th>
          <th *ngIf="!isTeacher">Nome</th>
          <th *ngIf="isTeacher && currentDate >= promotionStartDate && currentDate <= promotionEndDate">Andamento</th>
          <th *ngIf="isTeacher">Azioni</th>
        </tr>
      </thead>
      <tbody *ngFor="let student of classDetails?.students let i = index">
        <tr>
          <td scope="row">{{i + 1}}</td> 
          <td *ngIf="isTeacher && currentDate >= promotionStartDate && currentDate <= promotionEndDate">{{student && student.surname + ' ' +  student.name}}</td>
          <td *ngIf="isTeacher && (currentDate < promotionStartDate || currentDate > promotionEndDate)">{{student.surname}}</td>
          <td *ngIf="isTeacher && (currentDate < promotionStartDate || currentDate > promotionEndDate)">{{student.name}}</td>
          <td *ngIf="!isTeacher">{{student.surname}}</td>
          <td *ngIf="!isTeacher">{{student.name}}</td>
          <td *ngIf="isTeacher && currentDate >= promotionStartDate && currentDate <= promotionEndDate">
           <h6 class="mt-2">{{student && student.finalGrade >= 6 ? "NON A RISCHIO": "A RISCHIO"}}</h6>
          </td>

            <td *ngIf="isTeacher">
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-gear-fill"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="'/details/' + student.id"><i
                        class="bi bi-eye-fill"></i>Profilo</a></li>
                  <!-- <li><a class="dropdown-item" [routerLink]="['/teachers/exams']"><i class="bi bi-book-fill"></i>Visualizza Pagella</a></li> -->
                  <li><a (click)="getFinalGrade(student.id!)" class="dropdown-item" href="#" data-bs-toggle="modal"
                      data-bs-target="#graduationModal"
                      *ngIf="currentDate >= promotionStartDate && currentDate <= promotionEndDate">
                      <i class="bi bi-award-fill"></i>Promozione</a></li>
                  <!-- <li><a style="cursor: pointer" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash3-fill px-2"></i>Elimina</a></li> -->
                </ul>
              </div>
            </td>


            <!-- <td *ngIf="isTeacher">
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear-fill"></i>
              </button>
              <ul class="dropdown-menu">
                <li ><a class="dropdown-item" [routerLink]="'/details/'+ student.id"><i class="bi bi-eye-fill"></i>Visualizza Profilo</a></li>
                <li><a class="dropdown-item" [routerLink]="['/teachers/exams']"><i class="bi bi-book-fill"></i>Visualizza Pagella</a></li>
                <li><a (click)="getFinalGrade(student.id!)" class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#graduationModal">
                  <i class="bi bi-gear-fill"></i>Promozione</a></li>
              </ul>
            </div>
          </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="graduationModal" tabindex="-1" aria-labelledby="graduationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ExamLabel">{{'promozione studente' | uppercase}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="d-flex justify-content-center ">
            <h5 *ngIf="studentGrade?.fullName">{{studentGrade.fullName | uppercase}}</h5>
          </div>
          <form [formGroup]="graduationForm">
            <div class="mt-3 mb-2">
              <label for="scholasticBehavior" class="form-label me-4">Voto condotta: </label>
              <input type="number" name="scholasticBehavior" id="scholasticBehavior" min="1" max="10" step="1" value="0"
                formControlName="scholasticBehavior">

                        </div>
                        <div class="d-flex my-2">
                            <label for="promoted" class="form-label mt-2 me-4">Esito finale: </label>
                            <h6 class="mt-2">{{studentGrade && studentGrade.finalGrade >= 6 ? "AMMESSO/A": "BOCCIATO/A"}}</h6>
                            <!-- <h6 class="mt-2">{{studentGrade && studentGrade.finalGrade <= 6 ? "AMMESSO/A": "BOCCIATO/A"}}</h6> -->
                        </div>
                        <div class="d-flex flex-column my-2">
                            <label for="nextClassroom" class="form-label">Classe successiva: </label>
                            <select class="form-select w-60 " formControlName="nextClassroom">
                              <option value="{{className.id}}" *ngFor="let className of classes">{{className.name}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning"
                        data-bs-dismiss="modal">Chiudi</button>
                    <button (click)="addGraduation()" type="button" class="btn btn-warning border-0 text-white"  data-bs-dismiss="modal">CONFERMA</button>
                </div>
            </div>
        </div>
    </div>


  <div class="modal fade" id="graduationModal" tabindex="-1" aria-labelledby="graduationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{'promozione studente' | uppercase}}</h1>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="col-4 btn btn-warning">{{'salva' | uppercase}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal delete -->
  <!-- <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sei sicuro?</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Una volta eliminato, non potrai tornare indietro!
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Chiudi
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Elimina
          </button>
        </div>
      </div>
    </div>
  </div> -->

</div>