hr{
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
.icon {
  border: 2px solid;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb900;
  margin-left: 20px;
}
.bi-buildings{
  font-size: 30px;
    color: #ffb900;
}
.input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-container input {
    margin-left: 10px;
    width: 12.5rem;
    padding: 0.4375rem 0.875rem;
    padding-right: 30px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.1875rem;
  }
  
  .input-container i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .bi-search {
    color: unset;
  }
  
  thead,
  tbody {
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  td{
    text-align: center;
    vertical-align: middle;
    height: 4rem!important;
  }
  
  table {
    border-bottom: 1px solid #ddd;
  }
  .page-item button:hover{
    background-color: #ffb900;
  }
  .btn {
    font-weight: 600;
    border: 2px solid;
    border-color: #ffb900;

  }
  .btn:hover{
    background-color: #ffc422;
  }
  .bi-eye-fill{
    margin-right: 10px;
  }
