<div class="container">
  <hr>
  <div class="d-flex align-items-center justify-content-center fs-5 fw-bold">
    {{'Lista Utenti' | uppercase}}
      <span class="icon">
      <i class="bi bi-person-vcard"></i>
    </span>
  </div> 
  <hr>
</div>

<div class="container mt-12 mt-5">
  <div class="row mb-4">
    <div class="col-md-3 d-flex ">
      <label for="role" class="form-label d-flex align-items-center mb-0 px-3">Ruolo:</label>
      <select style="cursor: pointer;" class="form-select" (change)="onClickRole($event)">
        <option value="">Tutti</option>
        <option value="student">Studente</option>
        <option value="teacher">Insegnante</option>
      </select>
    </div>
  
    <div class="col-md-4"></div>
    
    <div class="col-md-3">
      <div class="classes-header">
        <div class="input-container">
          <input type="text" name="" id="search" placeholder="Scrivi per cercare..." (input)="saveSearch(filter.value)" #filter>
          <i class="bi bi-search px-2" type="button" (click)="saveSearch(filter.value)"></i>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button [routerLink]="['/add-user']" class="btn btn-warning fw-medium">Crea Utente</button>
    </div>
  </div>
</div>
  
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" id="name">Nome
          <i style="cursor: pointer;" *ngIf="this.orders.name === 'desc'" class="bi bi-caret-down-fill" (click)="getUser('Name', 'asc', 'name')"></i>
          <i style="cursor: pointer;" *ngIf="this.orders.name === 'asc'" class="bi bi-caret-up-fill" (click)="getUser('Name', 'desc', 'name')"></i>
        </th>
        <th scope="col" id="surname">Cognome
          <i style="cursor: pointer;" *ngIf="this.orders.surname === 'asc'" class="bi bi-caret-up-fill" (click)="getUser('Surname', 'desc', 'surname')"></i>
          <i style="cursor: pointer;" *ngIf="this.orders.surname === 'desc'" class="bi bi-caret-down-fill" (click)="getUser('Surname', 'asc', 'surname')"></i>
        </th>
        <th scope="col" id="birth">Data di nascita
          <i style="cursor: pointer;" *ngIf="this.orders.birth === 'asc'" class="bi bi-caret-up-fill" (click)="getUser('Birth', 'desc', 'birth')"></i>
          <i style="cursor: pointer;" *ngIf="this.orders.birth === 'desc'" class="bi bi-caret-down-fill" (click)="getUser('Birth', 'asc', 'birth')"></i>
        </th>
        <th scope="col">Azioni</th>
      </tr>
    </thead>
    <tbody *ngFor="let registry of registries, let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{registry.name}}</td>
        <td>{{registry.surname}}</td>
        <td>{{registry.birth | date: "dd/MM/yyyy"}}</td>
        <div class="dropdown d-flex justify-content-center">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"aria-expanded="false">
            <i class="bi bi-gear-fill"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="onClickAction('dettagli', registry.teacher != null ? registry.teacher!.userId : registry.student!.userId)" [routerLink]="['/details/', registry.teacher != null ? registry.teacher!.userId : registry.student!.userId]"><i
                  class="bi bi-eye-fill px-2"></i>Dettagli</a></li>
            <li><a class="dropdown-item" (click)="onClickAction('modifica', registry.teacher != null ? registry.teacher!.userId : registry.student!.userId)" [routerLink]="['/add-user/', registry.teacher != null ? registry.teacher!.userId : registry.student!.userId]"><i class="bi bi-pencil-square px-2"></i>Modifica</a></li>
            <li><a style="cursor: pointer" class="dropdown-item" data-bs-toggle="modal"
                  value="elimina" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="onClickAction('elimina', registry.teacher != null ? registry.teacher!.userId : registry.student!.userId)"><i class="bi bi-trash3-fill px-2"></i>Elimina</a>
            </li>
          </ul>
        </div>
      </tr>
    </tbody>
  </table>
</div>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">CONFERMA ELIMINAZIONE</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Sei sicuro di voler eliminare questo utente?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" style="color: white; font-weight: 400;" (click)="dUser(this.id)">ELIMINA</button>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example pag-nav">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" type="submit" aria-label="Previous" (click)="onClickPage(this.page - 1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item">
        <a class="page-link" type="submit" aria-label="Next" (click)="onClickPage(this.page + 1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
