<div *ngIf="userMe" class="sidebar vh-100" [ngClass]="{ 'expanded': isExpanded }">
  <div class="content alt vh-100" [ngClass]="{ 'expanded': isExpanded }">
    <div [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link"
      class="link">
      <div class="content">
        <div class="icon" title="Dashboard">
          <i class="bi bi-house"></i>
          <!--dashboard-->
        </div>
        <div class="title">Dashboard</div>
          <i class="invisible" *ngIf="isExpanded"
            [ngClass]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>

    <div [routerLink]="['/list-users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isTeacher" class="link">
      <div class="content">
        <div class="icon" title="Utenti">
          <i class="bi bi-person"></i>
        </div>
        <div class="title">Utenti</div>
        <i class="invisible" *ngIf="isExpanded" [ngClass]="!isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>

    <div [routerLink]="[isTeacher ? linkByRole + '/classes/' : linkByRole + '/classes/'+ userMe.classroomId]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
      <div class="content">
        <div class="icon"  title="Classi">
          <i class="bi bi-buildings"></i>
          <!--classes-->
        </div>
        <div class="title">{{ isTeacher ? 'Classi' : 'Classe' }}</div>
        <i class="invisible" *ngIf="isExpanded"
          [ngClass]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>

    <div [routerLink]="[linkByRole +'/subjects']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
      <div class="content">
        <div class="icon"  title="Materie">
          <i class="bi bi-book"></i>
          <!--subjects-->
        </div>
        <div class="title">Materie</div>
        <i class="invisible" *ngIf="isExpanded"
          [ngClass]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>
    
    <div [routerLink]="[linkByRole + '/exams']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="link">
      <div class="content">
        <div class="icon"  title="Esami">
          <i class="bi bi-calendar3"></i>
          <!--exams-->
        </div>
        <div class="title">Esami</div>
        <i class="invisible" *ngIf="isExpanded"
          [ngClass]="isCollapsed ? 'bi bi-chevron-right' : 'bi bi-chevron-down'"></i>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>