<div class="container-fluid p-0 vh-100">
    <div class="container mt-3">
        <hr>
        <div class="d-flex justify-content-center align-items-center fw-bold fs-5">
            <span>LISTA ESAMI</span>
            <span class="icon-data">
                <i class="bi bi-calendar3 list-icon"></i>
            </span>
        </div>
        <hr>
    </div>
    <div class="container mt-4 bb">
        <div class="row mb-4 justify-content-between">
            <div class="col-3 d-flex">
                <form [formGroup]="formSubjects" class="d-flex pe-2 justify-content-center ">
                    <select class="btn btn-warning fw-medium" formControlName="subjects"
                        (click)="[onClickFilter = true, dropdownFilter()]">
                        <option style="background-color: white;" selected value="">Tutte le materie</option>
                        <option class="dropdown-option" style="background-color: white;"
                            *ngFor="let subject of subjects">{{subject.name}}</option>
                    </select>
                </form>
                <form [formGroup]="formClassrooms" class="d-flex ps-2 justify-content-center ">
                    <select class="btn btn-warning fw-medium" formControlName="classrooms"
                        (click)="[onClickFilter = false, dropdownFilter()]">
                        <option style="background-color: white;" selected value="">Tutte le classi</option>
                        <option style="background-color: white;" *ngFor="let classroom of classrooms">
                            {{classroom.name_classroom}}</option>
                    </select>
                </form>
            </div>

            <div class="col-3 d-flex justify-content-end">
                <button class="w-50 btn btn-warning fw-medium" (click)="openModalExam()">Crea esame</button>
            </div>
        </div>
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" id="date">Data
                    </th>
                    <th scope="col" id="matter">Materia
                    </th>
                    <th scope="col" id="birth">Classe
                    </th>
                    <th scope="col">Azioni</th>
                </tr>
            </thead>
            <tbody *ngFor="let exam of examsList, let i = index">
                <tr [title]="(today > exam.date) ? 'Esame già svolto' : '' ">
                    <th scope="row">{{ (currentPage -1) * itemsPerPage + i + 1}}</th>
                    <td [ngClass]="{'text-secondary' : today > exam.date}">{{exam.date | date: "dd/MM/yyyy"}}</td>
                    <td [ngClass]="{'text-secondary' : today > exam.date}">{{exam.subject.name}}</td>
                    <td [ngClass]="{'text-secondary' : today > exam.date}">{{exam.classroom.name}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="dropdown-item" [routerLink]="['/teachers/exams/' + exam.id]"><i
                                            class="bi bi-eye-fill px-2"></i>Visualizza</button>
                                </li>
                                <li [title]="(today > exam.date) ? 'Impossibile modificare un esame già svolto' : '' ">
                                    <button (click)="openModalExam(exam, 'edit')" class="dropdown-item"
                                        [disabled]="today > exam.date">
                                        <i class="bi px-2" [ngClass]="{
                                            'bi-book-fill': today <= exam.date,
                                            'bi-lock-fill': today > exam.date
                                        }"></i>Modifica</button>
                                </li>
                                <li [title]="(today > exam.date) ? 'Impossibile eliminare un esame già svolto' : '' ">
                                    <button (click)="onDelete(exam.id!)" class="dropdown-item" style="cursor: pointer"
                                        data-bs-toggle="modal" data-bs-target="#deleteExam"
                                        [disabled]="today > exam.date"><i class="bi px-2" [ngClass]="{
                                            'bi-trash3-fill' : today <= exam.date,
                                            'bi-lock-fill' : today > exam.date
                                        }"></i>Elimina</button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- VAI A PRIMA PAGINA -->
                <li class="page-item" style="cursor: pointer;">
                    <a class="page-link" aria-label="Previous" (click)="onChangePage(currentPage = 1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
     
                <li id="1" *ngIf="currentPage === totalPages && totalPages >= 3" class="page-item" style="cursor: pointer;">
                    <a class="page-link" (click)="onChangePage(currentPage - 2)">{{ currentPage - 2}}</a>
                </li>
                <li id="2" *ngIf="currentPage > 1" class="page-item" style="cursor: pointer;">
                    <a class="page-link" (click)="onChangePage(currentPage - 1)">{{ currentPage - 1 }}</a>
                </li>
                <li id="3" class="page-item" style="cursor: pointer; color:black;">
                    <a class="page-link currentPage fw-semibold">{{ currentPage }}</a>
                </li>
                <li id="4" *ngIf="currentPage < totalPages" class="page-item" style="cursor: pointer;">
                    <a class="page-link" (click)="onChangePage(currentPage + 1)">{{ currentPage + 1 }}</a>
                </li>
                <li id="5" *ngIf="currentPage === 1 && totalPages >= 3" class="page-item" style="cursor: pointer;">
                    <a class="page-link" (click)="onChangePage(currentPage + 2)">{{ currentPage + 2 }}</a>
                </li>
               
                <!-- VAI AD ULTIMA PAGINA -->
                <li class="page-item" style="cursor: pointer;">
                    <a class="page-link" aria-label="Next" (click)="onChangePage(totalPages)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
            <h5 class="text-center">Pagina {{this.currentPage}} di {{this.totalPages}}</h5>
        </nav>
    </div>
</div>
<div class="modal fade" id="deleteExam" tabindex="-1" aria-labelledby="deleteExamLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteExamLabel">CONFERMA ELIMINAZIONE</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sei sicuro di voler eliminare questo esame?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-warning border-0 text-white" data-bs-dismiss="modal"
                    (click)="deleteExam()">CONFERMA</button>
            </div>
        </div>
    </div>
</div>