hr{
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
thead,
tbody {
  border: 1px solid #ddd;
  background-color: #fff;
}
.icon-back {
  border: 2px solid;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb900;
  margin-left: 20px;
}
.icon-data {
  border: 2px solid;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb900;
  margin-left: 20px;
}

.bi-calendar3 {
  font-size: 25px;
}

.bi-card-list{
  font-size: 30px;
    color: #ffb900;
}

.bi-arrow-left{
  font-size: 25px;
    color: #ffb900;
}
td, th{
  text-align: center;
  vertical-align: middle;
}
td{
  height: 4rem!important;
}